/* app/assets/layout.scss */
$navbar-default-bg: white;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  background: #f2f5f8;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #2275a5 1px, rgba(0, 0, 0, 0) 1px);
  
  font-weight: 300;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6
{
  color: black;
}

.button {
  background-color: #f2f5f8;
  border: 1px solid #f2f5f8;
  color: cornflowerblue;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button-form { 
  border: 1px solid cornflowerblue;
  background-color: white;
}
.button:hover {
  background-color: cornflowerblue;
  color: #f2f5f8;
  border: 1px solid cornflowerblue;
 }

#logo {
 float: left;
 font-size: 1.7em;
 color: black;
 text-transform: uppercase;
 letter-spacing: 1px;
}
#logo:hover {
 color: tomato;
 text-decoration: none;
}
.article-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}
.article-title {
color: cornflowerblue;
 font-weight: bold;
}
.article-body {
 color: rgb(53, 53, 53);
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
.article-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}
.description {
  color: rgb(97, 43, 221);
 margin-top: 0;
}
.listing {
 list-style: none;
 padding-left: 0;
}
.form-control{ 
  background-color: #fff;
  color: #555555;
}
