/* app/assets/layout.scss */

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  background: #f2f5f8;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #2275a5 1px, rgba(0, 0, 0, 0) 1px);
  
  font-weight: 300;
}

a {
  text-decoration: none;
}



